
html{
  width:100%;
  height: auto;
  margin: 0;
}

body {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  width: 80%;
  margin: 0 auto;
}

header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}

nav{
  display: flex;
  justify-content: space-between;
}

offcanvas{
  background-color: #000000 !important;
}

.vBody{
  text-align: left;
}
